body,
.v-application {
  font-family: 'Montserrat', sans-serif !important;
}

h1,
h2,
h3,
.brand-font {
  font-family: 'Chivo', sans-serif !important;
  font-weight: 900 !important;
  letter-spacing: -0.02em !important;
}

.v-btn {
  font-family: 'Montserrat', sans-serif !important;
  text-transform: none !important;
}

:root {
  --color-violet: #7c4dff;
  --color-cyan: #00b8d4;
  --color-emerald: #00e676;
  --bg-dark: #0f0f17;
}

::-webkit-scrollbar {
  width: 8px;
}
/* En tu archivo de estilos globales (ej. main.scss o app.vue) */

::-webkit-scrollbar-track {
  /* Esto tomará automáticamente el color de fondo definido en tu tema actual */
  background: rgb(var(--v-theme-background));
}

::-webkit-scrollbar-thumb {
  /* Puedes usar el color primario o una variante de surface para el scroll */
  background: var(--color-violet);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--v-theme-primary));
}
.v-application {
  background-color: transparent !important;
}

.v-application__wrap {
  min-height: 100vh;
}
